@import "tailwindcss";


:root {
    --background: #FFFFFF;
    --secondary-background: #EBEFF4;
    --text: #1F1F27;
    --text-button: #FFFFFF;
    --text-primary: #31A0F0;
    --text-secondary: #81869A;
    --text-tertiary: #C0C2CB;
    --border: #1F1F27;
    --accent: #aa3bff;
    --error: #D23939FF;
    --primary: #31A0F0;
    --secondary: #31A0F019


}

@theme {
    --color-background: var(--background);
    --color-secondary-background: var(--secondary-background);
    --color-text: var(--text);
    --color-text-button: var(--text-button);
    --color-text-primary: var(--text-primary);
    --color-text-secondary: var(--text-secondary);
    --color-text-tertiary: var(--text-tertiary);
    --color-error: var(--error);
    --color-border: var(--border);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    color: var(--text);
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;
    color: var(--text);
}

